* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

.page-title-span {
  margin-left: 10px;
}

.button-right-icon {
  margin-left: 10px;
}

/*Login Section */

.login-cover {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginProgress {
  display: none;
}

#loginError {
  display: none;
}
